// Font Sizes
$font-sm: 0.875rem;
$font-med: 1.125rem;
$font-title: 2.5rem;

// colors
$bg-color: rgba(40, 183, 150, 0.95);
$text-color: #373435;
$highlight-color: #fdbe00;
$light-color: #fff;
$border-color: #ddd;
